/* General Container */
.patient-dashboard-container {
      background: rgba(255, 255, 255, 0.5); /* White background with 50% opacity */
  padding: 20px; /* Add some padding for better appearance */
  border-radius: 10px;
 overflow-y: auto;
min-height: 80vh;/* 
 display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background: #f4f7f6;
  min-height: 100vh;
  font-family: 'Arial', sans-serif; */
}

/* Title Styling */
.dashboard-title {
  font-size: 2.5em;
  color: #333;
  margin-bottom: 20px;
  font-weight: bold;
}

.chart-container {
  width: 80%;
  height: 500px;
  margin: 0 auto; /* Center the chart */
}

/* Section Styling */
.patient-details {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  min-width: 500px;
  margin: 20px auto;
  min-height: 300px;
  overflow-y: auto;
}

 .analytics-section {
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 95%;
  min-width: 500px;
  margin: 20px auto;
  max-height: 80vh;
  overflow-y: auto;
}

.recommendations-section{
	background: white;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	padding: 20px;
	width: 80%;
	min-width: 500px;
	margin: 20px auto;
	max-height: 80vh;
	overflow-y: auto;
}

/* Title for Sections */
.details-title, .section-title {
  font-size: 1.8em;
  color: #444;
  margin-bottom: 15px;
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;
}

/* Patient Details */
.patient-details p {
  font-size: 1.2em;
  color: #555;
  margin: 10px 0;
}

/* Button Styling */
.view-options {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.view-button, .back-button {
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background 0.3s ease;
}

.view-button:hover, .back-button:hover {
  background: #0056b3;
}

.active {
  background: #0056b3;
  color: white;
}

/* Section Content */
.analytics-section p, .recommendations-section p {
  font-size: 1.2em;
  color: #666;
  margin: 10px 0;
}

